@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/Jal_Haru.woff') format('woff');
	font-family: 'JalHaru';
}

@font-face {
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/omyu_pretty.woff2') format('woff2');
	font-family: 'OmyuPretty';
}

@font-face {
	src: url('/fonts/Moneygraphy-Rounded.woff2') format('woff2'), url('/fonts/Moneygraphy-Rounded.woff') format('woff');
	font-family: 'MoneygraphyRounded';
}

@font-face {
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/SejongGeulggot.woff2') format('woff2');
	font-family: 'SejongGeulggot';
}

@font-face {
	font-weight: 100 900;
	src: url('/fonts/SUIT-Variable.woff2') format('woff2-variations');
	font-family: 'SUIT';
}

@font-face {
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/D2Coding.woff') format('woff');
	font-family: 'D2Coding';
}

@layer base {
	:root {
		--light-scrollbar-bg: rgba(125, 125, 125, 0.5);
		--dark-scrollbar-bg: var(--light-scrollbar-bg);
		--scrollbar-bg: var(--light-scrollbar-bg);

		--destructive: 16, 100%, 50%;
		/*#FF4500 => hsl(16, 100%, 50%)*/

		--fixed-height: 6.3rem;
	}

	.dark {
		--scrollbar-bg: var(--dark-scrollbar-bg);
	}

	*,
	::before,
	::after {
		@apply border-gray-300/70;
		@apply dark:border-gray-300/30;
	}
}

@layer components {

	.slide-up,
	.slide-down {
		transform: translateY(0);
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-direction: alternate;
		animation-fill-mode: forwards;
		transition: all;
		max-height: fit-content;
	}

	.slide-up {
		animation-duration: .3s;
		animation-name: slide-up;
	}

	.slide-down {
		animation-name: slide-down;
	}

	@keyframes slide-up {
		0% {
			opacity: 1;
			height: 100rem;
		}

		100% {
			opacity: 0;
			height: 0;
		}
	}

	@keyframes slide-down {
		0% {
			opacity: 0;
			height: 0;
		}

		100% {
			opacity: 1;
			height: 100rem;
		}
	}
}

/*****************************************************************************/
::-webkit-scrollbar,
*::-webkit-scrollbar {
	display: block;
	width: 0.35rem;
	height: 0.35rem;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-button {
	display: none;
	background-color: var(--scrollbar-bg);
}

:active::-webkit-scrollbar-thumb,
:focus::-webkit-scrollbar-thumb,
:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}

::-webkit-scrollbar-thumb {
	visibility: hidden;
	border-radius: 1rem;
	background-color: var(--scrollbar-bg);
}

/*****************************************************************************/
@media print {
	* {
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
	}

	aside {
		display: none !important;
	}
}

/*****************************************************************************/

@import url(./tailwind.css);
@import url(./theme_color_default.css);
@import url(./theme_color_default2.css);
/*@import url(./theme_color_blue.css);*/
/*@import url(./theme_color_violet.css);*/

/*****************************************************************************/
body {
	font-family: 'SUIT', Arial, Helvetica, sans-serif;
}

i {
	font-family: 'OmyuPretty', 'SUIT', Arial, Helvetica, sans-serif !important;
}

h1 {
	font-family: 'JalHaru', 'SUIT', Arial, Helvetica, sans-serif !important;
}

code,
kbd,
samp,
pre {
	font-family: 'D2Coding', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Andale Mono",
		"Ubuntu Mono", "Liberation Mono", "Courier New", monospace !important;
}

/*****************************************************************************/