<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Title</title>
	</head>
	<body>
		<header>
			<hgroup>
				<h1>Header</h1>
				<h2>Subheader</h2>
			</hgroup>
		</header>
		<nav>
			<ul>
				<li><a href="#">Menu Option 1</a></li>
				<li><a href="#">Menu Option 2</a></li>
			</ul>
		</nav>
		<main>
			<section>
				<article>
					<header>
						<h1>Article #1</h1>
					</header>
					<section>This is the first article.</section>
				</article>
				<article>
					<header>
						<h1>Article #2</h1>
					</header>
					<section>This is the second article.</section>
				</article>
			</section>
			<aside>
				<section>
					<h1>Links</h1>
					<ul>
						<li><a href="#">Link 1</a></li>
						<li><a href="#">Link 2</a></li>
					</ul>
				</section>
				<figure>
					<figcaption>Foobar</figcaption>
				</figure>
			</aside>
		</main>
		<footer>Footer</footer>
	</body>
</html>
<!---
  +-----------------------------------+
  |               header              |
  +-----------------------------------+
  |                 nav               |
  +---------------------+-------------+
  |                     |             |
  |       section       |    aside    |
  |                     |             |
  |                     |             |
  | +-----------------+ |             |
  | |     article     | |             |
  | +-----------------+ |             |
  | |     article     | |             |
  | +-----------------+ |             |
  +---------------------+-------------+
  |               footer              |
  +-----------------------------------+

Refers:
	https://gist.github.com/thomd/9220049
	https://www.w3schools.com/html/html5_semantic_elements.asp

Semantic Elements in HTML
Below is a list of some of the semantic elements in HTML.

목적
문서의 정보를 보다 잘 표현하기 위해서는 의미에 맞는 태그를 잘 사용해야 합니다.
특히 HTML5에서는 웹페이지에서 통상 많이 사용하는 구조에 의미를 분명히 부여하기 위해서
의미론적 태그(semantic element)를 새롭게 정의해서 제공하고 있습니다. 그 목록은 아래와 같습니다.

Tag
	Description

<article>
	Defines independent, self-contained content
	본문

<aside>
	Defines content aside from the page content
	광고와 같이 페이지의 내용과는 관계가 적은 내용들

<details>
	Defines additional details that the user can view or hide
	기본적으로 표시되지 화면에 표시되지 않는 정보들을 정의

<figcaption>	Defines a caption for a <figure> element
<figure>
	Specifies self-contained content, like illustrations, diagrams, photos, code listings, etc.
	삽화나 다이어그램과 같은 부가적인 요소를 정의
<footer>
	Defines a footer for a document or section
	화면의 하단에 위치하는 사이트나 문서의 전체적인 정보를 정의

<header>
	Specifies a header for a document or section
	화면의 상단에 위치하는 사이트나 문서의 전체적인 정보를 정의

<main>
	Specifies the main content of a document
	문서에서 가장 중심이 되는 컨텐츠를 정의

<mark>
	Defines marked/highlighted text
	참조나 하이라이트 표시를 필요로 하는 문자를 정의
<nav>
	Defines navigation links
	문서의 네비게이션 항목을 정의

<section>
	Defines a section in a document
	문서의 구획들을 정의 (참고)

<summary>
	Defines a visible heading for a <details> element

<time>
	Defines a date/time
	시간을 정의
-->
